

.button-default {
    background-color: #E53939;
    padding:  20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button-default:hover {
   opacity: 0.8;
}

.button-default:active {
   opacity: 0.6;
}

.button-large {
   background-color: #E53939;
    padding:  20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.button-large:hover {
   opacity: 0.8;
}

.button-large:active {
   opacity: 0.6;
}
