.inputs {
    border: 1px solid #E539394D;
    border-radius: 6px;
    background-color: transparent;
    height: 48px;
    color: #fff;
    outline: none;
    padding-left: 10px;
    width: 100%;
    margin-top: 10px;
}


