#section-participar {
  height: 750px;
  background-color: var(--cor-secundaria-black);
  border-width: 1px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, #000, #e53939, #000) 1;
}

#section-participar .container-participar {
  height: 550px;
  width: 1280px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-participar #section-participa-titulos {
  width: 700px;
  text-align: center;
  background-color: #000;
}

#section-participar #section-participa-titulos h2 {
  font-size: 1.12em;
  font-weight: 700;
}

#section-participar #section-participa-titulos p {
  font-size: 1.87em;
  font-weight: 700;
}

#section-participar #section-participa-titulos p span {
  color: #e53939;
}

#section-container-passos {
  width: 1280px;
  height: 426px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section-container-passos .cards-participar-passos {
  width: 413px;
  height: 336px;
  background-color: #141414;
  border: 1px solid rgba(229, 57, 57, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 10px;
}

#section-container-passos .cards-participar-passos .title-passos {
  color: rgba(229, 57, 57, 0.3);
  font-weight: 400;
  font-size: 5.6em;
  line-height: 1;
}

#section-container-passos .cards-participar-passos h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.125em;
}

#section-container-passos .cards-participar-passos p {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1em;
}

#section-participar-btn {
  background-color: #e53939;
  width: 323px;
  height: 58px;
  border-radius: 8px;
  text-align: center;
  padding-top: 21px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  transition: 0.3s;
}

#section-participar-btn:hover {
  background-color: #b72424;
}
