.container-conheca {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 20px 0px 20px;
}

.conheca-ac3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conheca-ac3-text h2 {
    display: inline-block;
    white-space: nowrap;
}

.conheca-ac3-text h2 span {
    display: block;
}

.conheca-ac3-text {
    padding-bottom: 100px;
}

.conheca-ac3-text p:first-of-type {
    margin-bottom: 16px;
}


.conheca-ac3-img {
    width: 490px;
    margin-top: auto;
}

.conheca-ac3-img img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    .conheca-ac3 {
        display: block;
        margin: 0 auto;
    }

    .conheca-ac3-img {
        margin: 0 auto;
        margin-top: -160px;
        display: flex;
        justify-content: end;
    }

    .conheca-ac3-text {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .conheca-ac3-text {
        width: 100%;
    }

    .conheca-ac3-img {
        margin: 0 auto;
        margin-top: -80px;
        display: flex;
        justify-content: end;
    }
}

@media only screen and (max-width: 500px) {
    .conheca-ac3-img {
        width: 80%;
        margin: 0 auto;
        margin-top: -70px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 360px) {
    .conheca-ac3-text h2 {
        white-space: wrap;
    }
}