.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 20px;
}

.container-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(/src/assets/images/bg_depoimentos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 80px 15px;
  }
}

.btn {
  display: inline-block;
  border-radius: 8px;
  margin-top: 16px;
  border: none;
  padding: 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #e53939;
  color: #fff;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #c92828;
}

.color-red {
  color: #e53939;
  font-weight: 600;
}

.border {
  border-top: 1px solid;
  border-image: linear-gradient(to right, #000000, #e53939, #000000) 1;
}
