:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 32px;
}

.color-red {
  color: #E53939;
}

p {
  color: #d3d3d3;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  margin-top: 16px;
  border: none;
  padding: 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #E53939;
  color: #fff;
  cursor: pointer;
}

/* CONFIGURAÇÕES DA SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #E53939;
  border: 1px solid #000000;
}

*::selection {
  color: #ffffff;
  background: #E53939;
  -webkit-text-fill-color: #fef5f5;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 2em;
  }

}

@media only screen and (max-width: 560px) {
  h2 {
    font-size: 1.9em;
  }

}